.App {
  text-align: center;
  background-image: linear-gradient(#ffffff,#33ccff);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-loading {
  margin: auto;
}

.StatBox {
  float: left;
  box-sizing: border-box;
  border-style: solid;
  margin-left: 85px;
  margin-top: 40px;
  height: 110px;
  width: 300px;
}

.StatBox-title {
  text-shadow: 1px 1px grey;
  text-transform: capitalize;
  font-size: 120%;
}

.StatBox-data {
  border: 2px outset;
  border-radius: 12px;
  padding: 10px;
}

.StatBox-new-data {
  color: green;
}
